@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: IranSansX;
}

* {
  box-sizing: border-box;
}

/* ---------------------------------------------GLOBAL STYLES------------------------------------------ */

button{
  background-color: white;
  color: black;
  border-radius: 8px;
  padding: 12px;
  transition: all .2s;
  direction: rtl;
}

button:hover{
  transition: all .2s;
  background-color: #d1d1d1;
  color: black;
}


.btn{
  direction: rtl;
  background-color: white;
  color: black;
  cursor: pointer;
  border-radius: 8px;
  padding: 12px;
  transition: all .2s;
}

.btn:hover{
  transition: all .2s;
  background-color: #d1d1d1;
  color: black;
}

.error{
  display: inline-block;
  margin: 8px 0;
  font-size: 12px;
  color: #ff4343;
  padding: 8px;
  width: 100%;
  text-align: center;
  direction: rtl;
}

.success{
  display: inline-block;
  margin: 8px 0;
  font-size: 12px;
  color: #72ff43;
  padding: 8px;
  width: 100%;
  text-align: center;
  direction: rtl;
}

.warning{
  display: inline-block;
  margin: 8px 0;
  font-size: 12px;
  color: #ffd643;
  padding: 8px;
  width: 100%;
  text-align: center;
  direction: rtl;
}

.separator-line{
  display: inline-block;
  margin: 0 auto;
  width: 90%;
  height: 1px;
  border-radius: 100px;
  background-color: #717171;
}

/* ---------------------------------------------------------------------------------------------------- */


/* ---------------------------------------------CUSTOM STYLES------------------------------------------ */

section{
  width: calc(100vw - 4rem); /* 2rem*2 for padding 2rem in line:35 */
  height: 100vh;
  display: flex;
  padding: 2rem;
  gap: 2rem;
  background-color: black;
}

section div{
  background-color: #3f3f3f;
  border-radius: 12px;
}


.csv-management-container{
  flex: 0 0 20%;
}

.graph-chart-container{
  flex: 0 0 60%;
}

.node-details{
  flex: 0 0 20%;
}

.upload-csv-btn{
  margin: 12px;
  display: inline-block;
  text-align: center;
  width: calc(100% - 24px);/* 24px*2 for margin 12px in line:69 */
}

.node-datas{
  padding: 12px;
}

.node-datas div{
  margin: 8px 0;
}

.node-datas .node-connections-container .connection button{
  padding: 6px !important;
}

/* ---------------------------------------------------------------------------------------------------- */
